@font-face {
  font-family: "Girassol";
  src: url("./font/Girassol-Regular.ttf");
}
@font-face{
	font-family: "Oswald";
	src: url("./font/Oswald-Light.ttf");
}
@font-face{
	font-family: "Oswald";
	src: url("./font/Oswald-Regular.ttf");
}
@font-face{
	font-family: "CrimsonPro";
	src: url("./font/CrimsonPro-Regular.ttf");
}

#combat li.combatant {
  font-family: Girassol;
  color: var(--color-border);
}

.age-of-sigmar-soulbound h1 {
  font-family: CrimsonPro;
  font-size: 14pt;
  font-weight: normal;
  border: none;
  margin: 0;
  padding: 2px 4px;
  flex-grow: 1;
  text-align: center;
}

.age-of-sigmar-soulbound h3 {
  font-family: Oswald;
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
  padding: 0px 4px;
  flex-grow: 1;
  text-align: center;
  border: none;
}

.content-label-centered {
  text-align: center;
  flex-grow: 1;
  font-family: Oswald;
  font-size: 12pt;
  font-weight: normal;
  text-transform: capitalize;
}

.character-creation h3 {
  font-family: Girassol;
  font-size: 16pt;
  font-weight: normal;
  margin: 0;
  padding: 0px 4px;
  flex-grow: 1;
  text-align: center;
  border: none;
}

.character-creation .sheet-body .skills .skill > * {
  flex: 1;
  display: flex;
  font-family: Oswald;
  font-size: 10pt;
  justify-content: space-around;
  align-items: center;
}
